<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Register Student</title>
    
  </head>
  <body>
    <div>
      <h1>Register Student</h1>
      <form>
        <label for="first-name">First name:</label><br>
        <input type="text" id="first-name" name="first-name"><br>
        <label for="last-name">Last name:</label><br>
        <input type="text" id="last-name" name="last-name"><br>
        <label for="email">Email Address:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br>
        <label for="university">University:</label><br>
        <input type="text" id="university" name="university"><br><br>
        <button type="submit">Register</button>
      </form>
      
    </div>
  </body>
</html>