<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Register Course</title>
    
  </head>
  <body>
    <div>
      <h1>Register Course</h1>
      <form action="{{ url_for('views.register_course') }}" method="POST">
        <label for="department">Course Department:</label><br>
        <input type="text" id="department" name="department"><br>
        <label for="number">Course Number:</label><br>
        <input type="text" id="number" name="number"><br>
        <label for="name">Course Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <button type="submit">Register Course</button>
      </form>
      
    </div>
  </body>
</html>